<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles/landingpage.css">
    <style>
        @font-face {
            font-family: 'Sketch';
            src: url('assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
        }

        h1 {
            font-family: sketch;
            font-size: 90px;
        }
    </style>
</head>

<body style="background-color: #887878;">

    <%- include ('../partials/navbar.ejs') %>

        <div class="container mt-5 text-center">
            <h1>Formulario de Cita</h1>
            <section class="h-100">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card card-registration my-4">
                                <div class="row g-0">
                                    <div class="col-xl-6 d-none d-xl-block">
                                        <img src="/assets/images/espaldastatuadas.jpeg"
                                            class="h-100 w-100 object-fit-cover " alt="Sample photo" class="img-fluid"
                                            style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="card-body p-md-5 text-black">


                                            <form action="/guardarbooking" method="POST">
                                                <input type="hidden" name="id" class="form-control" id="idactbooking" placeholder="" readonly>
                        
                                                <label for="fechaCita" class="form-label">Fecha de la cita:</label>
                                                <input type="date" name="fechaCita" class="form-control" id="fechaCita" placeholder="Ingrese fecha de la cita" >
                        
                                                <label for="idTatuador" class="form-label">Id del Tatuador:</label>
                                                <input type="text" name="idTatuador" class="form-control" id="idTatuador" placeholder="Ingrese el id del tatuador">
                                    
                                                <label for="idCliente" class="form-label">Id del Cliente:</label>
                                                <input type="text" name="idCliente" class="form-control" id="idCliente" placeholder="Ingrese el id del Cliente"> <br>
                                                
                                                <label for="idPiercing" class="form-label">Id del Piercing:</label>
                                                <select name="idPiercing" id="idPiercing">
                                                    <option value="">No Aplica</option>
                                                    <% piercings.forEach(function(piercing){%>
                                                        <option value="<%= piercing._id %>"><%= piercing.nombre %></option>
                                                    <% });%>
                                                </select><br>
                                                
                                                <label for="idTatuaje" class="form-label">Id del Tatuaje:</label>
                                                <select name="idTatuaje" id="idTatuaje">
                                                    <option value="">No Aplica</option>
                                                    <% tattoos.forEach(function(tattoo){%>
                                                        <option value="<%= tattoo._id %>"><%= tattoo.nombre %></option>
                                                    <% });%>
                                                </select><br>
                        
                                                <label for="fotoConsentimiento" class="form-label">Foto del consentimiento:</label>
                                                <input type="text" name="fotoConsentimiento" class="form-control" id="fotoConsentimiento" placeholder="Ingrese la foto del consentimiento">
                        
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="submit" class="btn btn-primary">Actualizar cambios</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>