<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/navbar.css">
    <link rel="stylesheet" href="/assets/styles/clientprofile.css">
    <title>Origen tattoo</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/assets/images/miproyecto.png" alt="" height="80"
                    width="100"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tattoocatalogue">TATUAJES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="piercingscatalogue">PIERCINGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#tattooartistspreview">ARTISTAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">UBICACIÓN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contactpreview">CONTACTO</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <% if (!locals.usuariologueado) { %>
                        <a href="formregister" class="btn btn-dark fw-bold me-4 " role="button">REGISTRARSE</a>
                        <a href="formlogin" class="btn btn-dark fw-bold " role="button">INICIAR SESIÓN</a>
                        <% } else { %>
                            <a href="logout" class="btn btn-dark fw-bold me-4 " role="button">CERRAR SESIÓN</a>
                            <% if (locals.rol=='Cliente' ) { %>
                                <a href="/clientprofile" class="btn btn-dark fw-bold me-4 " role="button"><i
                                        class="bi bi-person-circle"></i></a>
                                <% } %>
                                    <% if (locals.rol=='Administrador' ) { %>
                                        <a href="/admin" class="btn btn-dark fw-bold " role="button"><i
                                                class="bi bi-bar-chart-line"></i></a>
                                        <% } %>
                                            <% } %>

                </form>
            </div>
        </div>
    </nav>
    <section class="mt-5" style="background-color: #ffffff;">
        <div class="container-fluid h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="/assets/images/tatuajeperfil.jpeg" alt="Avatar" class="w-100 h-100 img-fluid"
                                    style="object-fit: cover;" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6 class="nameclient">
                                        <%=client.nombre%>
                                            <%=client.apellido%>
                                    </h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6 class="fw-bold ">Documento</h6>
                                            <p class="text-muted">
                                                <%=client.documento%>
                                            </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="fw-bold ">Celular</h6>
                                            <p class="text-muted">
                                                <%=client.celular%>
                                            </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="fw-bold ">Correo</h6>
                                            <p class="text-muted">
                                                <%=client.correo%>
                                            </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="fw-bold ">Fecha nacimiento</h6>
                                            <p class="text-muted">
                                                <%=client.fechaNacimiento%>
                                            </p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="fw-bold ">Alergias</h6>
                                            <p class="text-muted">
                                                <%=client.alergias%>
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <h6 class="nameclient">Citas</h6>
                                        </div>
                                        <div class="col-6 mt-2">
                                            <a href="/makeabooking" class="btn btn-dark fw-bold ">Agendar cita</a>
                                        </div>
                                    </div>
                                    <% if(bookings.length==0){%>
                                        <p id="noDate">No tienes citas en este momento...</p>
                                        <%}%>
                                            <% bookings.forEach(function(booking){ %>
                                                <hr class="mt-0 mb-4">
                                                <div class="row pt-1">
                                                    <div class="col-4 mb-3">
                                                        <h6 class="fw-bold ">Fecha cita</h6>
                                                        <p class="text-muted">
                                                            <%=booking.fechaCita.toISOString().slice(0,16)%>
                                                        </p>
                                                    </div>
                                                    <% tattooartist.forEach(function(tattooartist){%>
                                                        <%
                                                            if(booking.idTatuador.toString()===tattooartist._id.toString()){%>
                                                            <div class="col-4 mb-3">
                                                                <h6 class="fw-bold ">Tatuador</h6>
                                                                <p class="text-muted">
                                                                    <%=tattooartist.alias%>
                                                                </p>
                                                                <%}})%>
                                                            </div>
                                                            <div class="d-flex flex-column col-4 mb-3">
                                                                <a href="deletebooking/<%=booking._id%>"
                                                                    class="btn btn-outline-danger">Eliminar</a>
                                                            </div>
                                                </div>
                                                <%})%>
                                                    <hr class="mt-0 mb-4">
                                                    <div class="row pt-1">
                                                        <div class="col-6 mb-3">
                                                            <button type="button" class="btn btn-outline-dark"
                                                                data-bs-toggle="modal" data-bs-target="#modaleditclient"
                                                                onclick="llenarClients('<%=client._id%>', '<%=client.nombre%>', '<%=client.apellido%>', '<%=client.correo%>', '<%=client.documento%>', '<%=client.celular%>' , '<%=client.alergias%>', '<%=client.fechaNacimiento%>', '<%=client.imagen%>')">
                                                                Editar
                                                            </button>
                                                        </div>
                                                        <div class="col-6 mb-3">
                                                            <a href="deleteclient/<%= client._id %>"
                                                                class="btn btn-outline-danger">Eliminar</a>
                                                        </div>
                                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modaleditclient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Actualizar información</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/updateclient" method="post" class="m-3 ">
                        <div class="row">
                            <input type="text" id="idclient" name="id" class="form-control form-control-lg" hidden />


                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label fw-bold " for="nomactclient">Nombre</label>
                                    <input type="text" id="nomactclient" name="nombre"
                                        class="form-control form-control-lg" placeholder="Ingrese el nombre del tatuaje"
                                        required />
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label fw-bold " for="apellidoactclient">Apellido</label>
                                    <input type="text" id="apellidoactclient" name="apellido"
                                        class="form-control form-control-lg" />
                                </div>
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold " for="correoactclient">Correo</label>
                            <input type="text" id="correoactclient" name="correo"
                                class="form-control form-control-lg" />
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label fw-bold " for="documentoactclient">Documento</label>
                                    <input type="text" id="documentoactclient" name="documento"
                                        class="form-control form-control-lg" readonly />
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label fw-bold " for="celularactclient">Celular</label>
                                    <input type="text" id="celularactclient" name="celular"
                                        class="form-control form-control-lg" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label fw-bold " for="alergiasactclient">Alergias</label>
                                <input type="text" id="alergiasactclient" name="alergias"
                                    class="form-control form-control-lg" />
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label fw-bold " for="fechaactclient">Fecha de Nacimiento</label>
                            <input type="date" id="fechaactclient" name="fechaNacimiento"
                                class="form-control form-control-lg" readonly />
                        </div>

                        <input type="text" id=" imagenactclient" name="fotoDocumento"
                            class="form-control form-control-lg " hidden />

                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger "
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-outline-dark ">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/profileclient.js"> </script>

</html>