<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origen Tattoo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles/makebooking.css">
    <link rel="stylesheet" href="/assets/styles/navbaradmin.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/assets/images/miproyecto.png" alt="" height="80"
                    width="100"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tattoocatalogue">TATUAJES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="piercingscatalogue">PIERCINGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#tattooartistspreview">ARTISTAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">UBICACIÓN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contactpreview">CONTACTO</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <% if (!locals.usuariologueado) { %>
                        <a href="formregister" class="btn btn-dark fw-bold me-4 " role="button">REGISTRARSE</a>
                        <a href="formlogin" class="btn btn-dark fw-bold " role="button">INICIAR SESIÓN</a>
                        <% } else { %>
                            <a href="logout" class="btn btn-dark fw-bold me-4 " role="button">CERRAR SESIÓN</a>
                            <% if (locals.rol=='Cliente' ) { %>
                                <a href="/clientprofile" class="btn btn-dark fw-bold me-4 " role="button"><i
                                        class="bi bi-person-circle"></i></a>
                                <% } %>
                                    <% if (locals.rol=='Administrador' ) { %>
                                        <a href="/admin" class="btn btn-dark fw-bold " role="button"><i
                                                class="bi bi-bar-chart-line"></i></a>
                                        <% } %>
                                            <% } %>

                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-5 text-center">
        <section class="h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="/assets/images/blackoubooking.jpeg" class="h-100 w-100 object-fit-cover "
                                        alt="Sample photo" class="img-fluid"
                                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        <h2 class="mb-5">Registro de citas</h2>


                                        <form action="/newbooking" method="POST" enctype="multipart/form-data">

                                            <div class="row">
                                                <div class="col-6 mb-3">
                                                    <label for="fechaCita" class="form-label">Fecha de la cita:</label>
                                                    <input type="datetime-local" name="fechaCita" class="form-control"
                                                        id="fechaCita" min="2023-01-01"
                                                        placeholder="Ingrese fecha de la cita">
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <label for="idTatuador" class="form-label">Tatuador:</label>
                                                    <select name="idTatuador" id="idTatuador" class="form-control">
                                                        <option value="" disabled selected>Seleccionar</option>
                                                        <% tattooartists.forEach(function(tattooartist){%>
                                                            <option value="<%= tattooartist._id%>">
                                                                <%= tattooartist.alias%>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                            </div>

                                            
                                            <div class="col-6 mb-3 ">
                                                <label for="idPiercing" class="form-label">Piercing (Opcional):</label>
                                                <select name="idPiercing" id="idPiercing" class="form-control">
                                                    <option value="">No Aplica</option>
                                                    <% piercings.forEach(function(piercing){%>
                                                        <option value="<%= piercing._id %>">
                                                            <%= piercing.nombre %>
                                                        </option>
                                                        <% })%>
                                                    </select><br>
                                                </div>
                                                
                                                <label for="idCliente" class="form-label">Correo electrónico:</label>
                                                <input type="text" name="idCliente" class="form-control" id="idCliente"
                                                    placeholder="Ingresa tu correo electrónico" value="<%=locals.client%>"
                                                    readonly> <br>

                                            <label for="fotoConsentimiento" class="form-label">Foto del
                                                consentimiento (Menor de edad):</label>
                                            <input type="file" name="fotoConsentimiento" class="form-control mb-5"
                                                id="fotoConsentimiento"
                                                placeholder="Ingrese la foto del consentimiento">

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-dark">Agenda tu cita</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- <script>
                var fecha = new Date();
                var anio = fecha.getFullYear();
                var dia = fecha.getDate();
                var _mes = fecha.getMonth();
                _mes = _mes + 1;
                { var mes = "0" + _mes;}
                else { 
                    var mes = _mes.toString;
                }
                document.getElementById("fechaCita").min = anio+'-'+mes+'-'+dia; 
            </script> -->
</body>

</html>